@import url('home/style.css');
@import url('why_we/style.css');
@import url('catalog/style.css');
@import url('delivery/style.css');
@import url('app/style.css');
@import url('contacts/style.css');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{font-family: 'Montserrat', sans-serif;}
.s-mob{display:none}
.s-web{display:block}
section {
    width:100%;
    min-height:100vh;
    height:auto;
}
.navbar{
    width:100%;
    position: fixed;
    transition: all ease .3s;
    z-index:9999;
}
footer .nav-link,
footer .navbar-brand{
    padding:0;
}
.papayaButton{
    display: block;
    float: left; 
    clear: left; 
    background:#F29E32;
    padding:15px 30px 15px 30px;
    border-radius:30px;
    color:white;
    width: auto;
    transition: all ease .3s;
    text-transform: none;
    text-decoration: none;
    border:none;
    cursor: pointer;
    outline: none;
}
.papayaButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.papayaButton:hover{
    color:white;
    background:#F28F00;
    text-transform: none;
    text-decoration: none;
    padding:15px 40px 15px 40px;
}
.fx-tel{
    .fa{ color:#F28F00; font-size:20px; }
    color:black;
    transition:all ease .3s;
}
.fx-tel:hover{
    color:black;
    text-decoration: none;
    color:#F28F00;
}
@media only screen and (max-width: 600px) {
    .s-web{display:none}
    .s-mob{display:block}
    #instagram{ min-height: auto; }
    .s-row{ text-align: center !important; }
}