#contacts{
    background-image: url("../../img/questions.png");
    background-position: center center;
    background-size: cover;

    .fx-form{
        width:100%;
        padding: 10px 20px 10px 20px;
        border-radius: 50px;
        border: 1px solid lightgrey;
        outline:none;
        transition: all ease .3s;
    }
    .fx-form:focus{
        box-shadow: 0 0 0 1px rgb(255, 159, 32);
    }

    .fx-textarea{
        width:100%;
        border-radius: 15px;
        border: 1px solid lightgrey;
        outline:none;
        resize: none;
        padding:20px;
        transition: all ease .3s;
    }

    .fx-textarea:focus{
        box-shadow: 0 0 0 1px rgb(255, 159, 32);
    }
}