#app{
    .fx-title{
        font-weight: bold;
        font-size:20px;
    }
    @media only screen and (max-width: 600px) {
        .s-iphone{
            margin-top:30px;
            margin-bottom:50px;
        }
    }
}